%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%linkBefore {
  content: url("../img/arrow-icon.svg");
  display: block;
  width: 7.4px;
  height: 10.3px;
  position: absolute;
  left: 9px; 
}

%card {
  max-width: 75vw;
  background-color: $white;
  border: 1px solid $borderGrey;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    width: 29.2vw;
  }

  @media (min-width: 1366px) {
    width: 16.8vw;
  }

  @media (min-width: 1670px) {
    width: 16vw;
    flex: 1;
  }
}

%title {
  @include text(400);
  text-transform: uppercase;
  color: $text2;
  background-image: linear-gradient(90deg, $bgColor 0%, $white 90%);
  border-top: 1px solid $border;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 15px 5% 16px 0;

  @media (min-width: 768px){
    margin-top: 32px;
  }

  @media (min-width: 1366px){
    margin-top: 50px;
  }
}

%link {
  padding-left: 32px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }

  &::before {
    @extend %linkBefore;
  }
}

%list {
  margin-top: 16px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    gap: 3.12%;
    height: 180px;
    width: 100%;
    overflow: hidden;
    margin-top: 24px;
  }

  @media (min-width: 1366px) {
    gap: 2.34%;
  }
}

%item {
  width: auto;
  height: auto;

  @media (min-width: 1600px) {
    display: flex;
    justify-content: stretch;
    width: 250px;   
    margin-right: 3.12%;
    flex: 1;
  }  
}