.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @extend %card;
  height: 160px;
  padding-top: 0;

  &:hover,
  &:focus {
    
    .button--next {
    box-shadow: 0 0 0 5px $button inset;
    transform: scale(0.9);
    }
  }

  &__title {
    @include text(500);
  }

  &__button {
    margin-left: auto;
    
    &--long {
      position: absolute;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      bottom: 16px;
      right: 16px;
      color: $white;
      font-size: 12px;
      line-height: 23px;
      letter-spacing: -0.15px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: left;
      padding: 4px 12px;
      
      &:hover,
      &:focus {
        opacity: 1;
        
        .button--arrow {
          background-color: $white;
          background-image: url(../img/arrow.svg);
          opacity: 1;  
        }
      }
    }
  }

  &__info-name {
    @include textSm(0.72);
    font-weight: normal;
    margin: 0;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__info-title {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2;
    margin: 0;

    @media (min-width: 768px){
      width: 348px; 
      white-space: nowrap;
      margin-right: 24px;
    }

    &::after {

      @media (min-width: 768px) {
        content: "";
        height: 1px;
        width: 90vw;
        background-color: $borderGrey;
        bottom: -1px;
        left: 16px;
        position: absolute;
        z-index: 10;
      }

      @media (min-width: 1366px) {
        width: 70vw;
      }
    }
  }

  &__info {
    display: block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2;
    font-weight: 400;
    margin: 0;

    @media (min-width: 768px) {
      width: 90px;
      margin-right: 2vw;
    }

    @media (min-width: 1366px) {
      width: 90px;
      margin-right: 5vw;
    }
  }
  
  &--price {
    position: relative;
    height: 200px;
    max-width: 81.25vw;
    padding: 16px;
    margin-top: 16px;

    @media (min-width: 768px) {
      max-width: 1210px;
      width: 93.76vw;
      border: none;
      margin-bottom: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 64px;
      padding-right: 155px;
      border-radius: 6px;
      margin-top: 0px;
    }

    @media (min-width: 1366px) {
      width: 72.4vw;
    }
  }
}
