.form {

  &__label {
  @extend %visually-hidden;
  }

  &__input {
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    margin-bottom: 16px;
    border: 1px solid $borderGrey;
    border-radius: 8px;
    cursor: pointer;

   
    &:hover {
      background-color: $bgColor;
    }
    
    &:valid {
      outline: 1px solid $active;
    }

    &:invalid:focus {
      outline: 1px solid $button;
    }

    &::placeholder {
      @include text(500);
      color: $bulletActive;
    }
  }

  &__message {
    width: 100%;
    height: 118px;
    padding: 12px 16px;
    border: 1px solid $borderGrey;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $bgColor;
    }

    &:invalid:focus {
      background-color: $white;
      outline: 1px solid $button;
    }

    &:focus {
      outline: 1px solid $bulletActive;
      background-color: $white;
    }
    
    &::placeholder {
      @include text(500);
      color: $bulletActive;
    }
  }

  &__text {
    @include textSm(1);
    font-weight: 500;
    margin-bottom: 23px;

    &--important {
      color: $button;
      font-weight: 500;
    }
  }

  &__button {
    display: block;
      position: relative;
      width: 136px;
      height: 32px;
      border-radius: 16px;
      color: $white;
      font-size: 12px;
      line-height: 23px;
      letter-spacing: -0.15px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: left;
      padding: 4px 20px;
      margin-left: auto;

      &:hover,
      &:focus {
        opacity: 1;
        
        .button--arrow {
          background-color: $white;
          background-image: url(../img/arrow.svg);
          opacity: 1;  
        }
      }
    }
  }
