.header {
  padding-top: 18.59px;
  padding-bottom: 17.59px;
  background-color: $white;
  border-bottom: 1px solid $border;

  @media (min-width: 1366px) {
    padding: 0;
    background-color: $bgColor;
    border-bottom: none;
  }

  &__container {
    padding: 0 5%;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 0 3.12%;
    }

    @media (min-width: 1366px) {
      padding: 0 2.34%;
      margin-bottom: -62px;
      margin-left: 320px;
    }
  }
}