.lang-list {
  margin-top: 8px;
  padding: 0;

  @media (min-width: 768px) {
    margin-top: 40px;
  }

  &__lang {
    text-decoration: none;
    color: $text;
    text-transform: uppercase;
    font-weight: 500;
    padding-right: 7px;

    &:hover,
    &:focus,
    &:active {
      color: $text2;
    }
  }
}