.link {
  position: relative;
  @include text(500);
  padding-top: 8px;
  color: $text;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text2;
  }

  &--hide::before {
    transform: scaleY(-1) translateY(-12px);
  }
}

  