.swiper {
  width: 95vw;
  height: 100%;
  padding-bottom: 28px;

  @media (min-width: 768px) {
    width: auto;
    padding-bottom: 0;
  }
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  background-color: $bullet;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color: $bulletActive;
}