@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  src: url("../assets/fonts/TTLakes-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Regular.woff") format("woff"), url("../assets/fonts/TTLakes-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  src: url("../assets/fonts/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/TTLakes-Medium.woff") format("woff"), url("../assets/fonts/TTLakes-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 700;
  src: url("../assets/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("../assets/fonts/TTLakes-Bold.woff") format("woff"),
    url("../assets/fonts/TTLakes-Bold.ttf") format("truetype");
}